In [10]:
import sqlite3

# Connect to SQLite database (or create if it doesn't exist)
conn = sqlite3.connect("Course6.db")

# Create a cursor object
cursor = conn.cursor()

#Execute a query
cursor.execute("SELECT * from Census_Data")

# Fetch all rows
rows = cursor.fetchall()

# Print results
for row in rows:
    print(row)


# Close the connection
conn.close()

(1, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39)
(2, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46)
(3, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20)
(4, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17)
(5, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6)
(6, 'Lake View', 1.1, 11.4, 4.7, 2.6, 17.0, 60058, 5)
(7, 'Lincoln Park', 0.8, 12.3, 5.1, 3.6, 21.5, 71551, 2)
(8, 'Near North Side', 1.9, 12.9, 7.0, 2.5, 22.6, 88669, 1)
(9, 'Edison Park', 1.1, 3.3, 6.5, 7.4, 35.3, 40959, 8)
(10, 'Norwood Park', 2.0, 5.4, 9.0, 11.5, 39.5, 32875, 21)
(11, 'Jefferson Park', 2.7, 8.6, 12.4, 13.4, 35.5, 27751, 25)
(12, 'Forest Glen', 1.1, 7.5, 6.8, 4.9, 40.5, 44164, 11)
(13, 'North Park', 3.9, 13.2, 9.9, 14.4, 39.0, 26576, 33)
(14, 'Albany Park', 11.3, 19.2, 10.0, 32.9, 32.0, 21323, 53)
(15, 'Portage Park', 4.1, 11.6, 12.6, 19.3, 34.0, 24336, 35)
(16, 'Irving Park', 6.3, 13.1, 10.0, 22.4, 31.6, 27249, 34)
(17, 'Dunning', 5.2, 10.6, 10.0, 16.2, 33.6, 26282, 28)
(18, 'Montclaire', 8.1, 15.3, 13.8, 23.5, 38.6, 22014, 50)
(19, 'Belmont Cragin', 10.8, 18.7, 14.6, 37.3, 37.3, 15461, 70)
(20, 'Hermosa', 6.9, 20.5, 13.1, 41.6, 36.4, 15089, 71)
(21, 'Avondale', 6.0, 15.3, 9.2, 24.7, 31.0, 20039, 42)
(22, 'Logan Square', 3.2, 16.8, 8.2, 14.8, 26.2, 31908, 23)
(23, 'Humboldt park', 14.8, 33.9, 17.3, 35.4, 38.0, 13781, 85)
(24, 'West Town', 2.3, 14.7, 6.6, 12.9, 21.7, 43198, 10)
(25, 'Austin', 6.3, 28.6, 22.6, 24.4, 37.9, 15957, 73)
(26, 'West Garfield Park', 9.4, 41.7, 25.8, 24.5, 43.6, 10934, 92)
(27, 'East Garfield Park', 8.2, 42.4, 19.6, 21.3, 43.2, 12961, 83)
(28, 'Near West Side', 3.8, 20.6, 10.7, 9.6, 22.2, 44689, 15)
(29, 'North Lawndale', 7.4, 43.1, 21.2, 27.6, 42.7, 12034, 87)
(30, 'South Lawndale', 15.2, 30.7, 15.8, 54.8, 33.8, 10402, 96)
(31, 'Lower West Side', 9.6, 25.8, 15.8, 40.7, 32.6, 16444, 76)
(32, 'Loop', 1.5, 14.7, 5.7, 3.1, 13.5, 65526, 3)
(33, 'Near South Side', 1.3, 13.8, 4.9, 7.4, 21.8, 59077, 7)
(34, 'Armour Square', 5.7, 40.1, 16.7, 34.5, 38.3, 16148, 82)
(35, 'Douglas', 1.8, 29.6, 18.2, 14.3, 30.7, 23791, 47)
(36, 'Oakland', 1.3, 39.7, 28.7, 18.4, 40.4, 19252, 78)
(37, 'Fuller Park', 3.2, 51.2, 33.9, 26.6, 44.9, 10432, 97)
(38, 'Grand Boulevard', 3.3, 29.3, 24.3, 15.9, 39.5, 23472, 57)
(39, 'Kenwood', 2.4, 21.7, 15.7, 11.3, 35.4, 35911, 26)
(40, 'Washington Park', 5.6, 42.1, 28.6, 25.4, 42.8, 13785, 88)
(41, 'Hyde Park', 1.5, 18.4, 8.4, 4.3, 26.2, 39056, 14)
(42, 'Woodlawn', 2.9, 30.7, 23.4, 16.5, 36.1, 18672, 58)
(43, 'South Shore', 2.8, 31.1, 20.0, 14.0, 35.7, 19398, 55)
(44, 'Chatham', 3.3, 27.8, 24.0, 14.5, 40.3, 18881, 60)
(45, 'Avalon Park', 1.4, 17.2, 21.1, 10.6, 39.3, 24454, 41)
(46, 'South Chicago', 4.7, 29.8, 19.7, 26.6, 41.1, 16579, 75)
(47, 'Burnside', 6.8, 33.0, 18.6, 19.3, 42.7, 12515, 79)
(48, 'Calumet Heights', 2.1, 11.5, 20.0, 11.0, 44.0, 28887, 38)
(49, 'Roseland', 2.5, 19.8, 20.3, 16.9, 41.2, 17949, 52)
(50, 'Pullman', 1.5, 21.6, 22.8, 13.1, 38.6, 20588, 51)
(51, 'South Deering', 4.0, 29.2, 16.3, 21.0, 39.5, 14685, 65)
(52, 'East Side', 6.8, 19.2, 12.1, 31.9, 42.8, 17104, 64)
(53, 'West Pullman', 3.3, 25.9, 19.4, 20.5, 42.1, 16563, 62)
(54, 'Riverdale', 5.8, 56.5, 34.6, 27.5, 51.5, 8201, 98)
(55, 'Hegewisch', 3.3, 17.1, 9.6, 19.2, 42.9, 22677, 44)
(56, 'Garfield Ridge', 2.6, 8.8, 11.3, 19.3, 38.1, 26353, 32)
(57, 'Archer Heights', 8.5, 14.1, 16.5, 35.9, 39.2, 16134, 67)
(58, 'Brighton Park', 14.4, 23.6, 13.9, 45.1, 39.3, 13089, 84)
(59, 'McKinley Park', 7.2, 18.7, 13.4, 32.9, 35.6, 16954, 61)
(60, 'Bridgeport', 4.5, 18.9, 13.7, 22.2, 31.3, 22694, 43)
(61, 'New City', 11.9, 29.0, 23.0, 41.5, 38.9, 12765, 91)
(62, 'West Elsdon', 11.1, 15.6, 16.7, 37.0, 37.7, 15754, 69)
(63, 'Gage Park', 15.8, 23.4, 18.2, 51.5, 38.8, 12171, 93)
(64, 'Clearing', 2.7, 8.9, 9.5, 18.8, 37.6, 25113, 29)
(65, 'West Lawn', 5.8, 14.9, 9.6, 33.6, 39.6, 16907, 56)
(66, 'Chicago Lawn', 7.6, 27.9, 17.1, 31.2, 40.6, 13231, 80)
(67, 'West Englewood', 4.8, 34.4, 35.9, 26.3, 40.7, 11317, 89)
(68, 'Englewood', 3.8, 46.6, 28.0, 28.5, 42.5, 11888, 94)
(69, 'Greater Grand Crossing', 3.6, 29.6, 23.0, 16.5, 41.0, 17285, 66)
(70, 'Ashburn', 4.0, 10.4, 11.7, 17.7, 36.9, 23482, 37)
(71, 'Auburn Gresham', 4.0, 27.6, 28.3, 18.5, 41.9, 15528, 74)
(72, 'Beverly', 0.9, 5.1, 8.0, 3.7, 40.5, 39523, 12)
(73, 'Washington Height', 1.1, 16.9, 20.8, 13.7, 42.6, 19713, 48)
(74, 'Mount Greenwood', 1.0, 3.4, 8.7, 4.3, 36.8, 34381, 16)
(75, 'Morgan Park', 0.8, 13.2, 15.0, 10.8, 40.3, 27149, 30)
(76, "O'Hare", 3.6, 15.4, 7.1, 10.9, 30.3, 25828, 24)
(77, 'Edgewater', 4.1, 18.2, 9.2, 9.7, 23.8, 33385, 19)
(None, 'CHICAGO', 4.7, 19.7, 12.9, 19.5, 33.5, 28202, None)

In [6]:
!pip install ipython-sql
!pip install sqlalchemy # database toolkit for python
!pip install pandas
import sqlalchemy
%load_ext sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (2.0.39)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.1.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [7]:
!pip install prettytable==3.6.0  #optional

Requirement already satisfied: prettytable==3.6.0 in /usr/local/lib/python3.11/dist-packages (3.6.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable==3.6.0) (0.2.13)

In [8]:
import prettytable
from prettytable import PrettyTable   #optional

In [9]:
import sql
sql.run.PrettyTable = PrettyTable  # Force usage of PrettyTable without relying on config
#optional

In [10]:
#Connect to Database
%sql sqlite:///Course6.db

In [11]:
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///Course6.db
Done.

[('Crime_Data',), ('Public_Schools',), ('Census_Data',)]

In [3]:
!pip install prettytable==3.6.0 --force-reinstall  #optional

Collecting prettytable==3.6.0
  Using cached prettytable-3.6.0-py3-none-any.whl.metadata (25 kB)
Collecting wcwidth (from prettytable==3.6.0)
  Using cached wcwidth-0.2.13-py2.py3-none-any.whl.metadata (14 kB)
Using cached prettytable-3.6.0-py3-none-any.whl (27 kB)
Using cached wcwidth-0.2.13-py2.py3-none-any.whl (34 kB)
Installing collected packages: wcwidth, prettytable
  Attempting uninstall: wcwidth
    Found existing installation: wcwidth 0.2.13
    Uninstalling wcwidth-0.2.13:
      Successfully uninstalled wcwidth-0.2.13
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.6.0
    Uninstalling prettytable-3.6.0:
      Successfully uninstalled prettytable-3.6.0
Successfully installed prettytable-3.6.0 wcwidth-0.2.13

In [12]:
# Find the total number of crimes recorded in the CRIME table.

%sql SELECT COUNT(*) AS TOTAL_CRIMES FROM Census_Data

 * sqlite:///Course6.db
Done.

[(78,)]

In [13]:
%sql SELECT * FROM Census_Data LIMIT 10

 * sqlite:///Course6.db
Done.

[(1, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39),
 (2, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46),
 (3, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20),
 (4, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17),
 (5, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6),
 (6, 'Lake View', 1.1, 11.4, 4.7, 2.6, 17.0, 60058, 5),
 (7, 'Lincoln Park', 0.8, 12.3, 5.1, 3.6, 21.5, 71551, 2),
 (8, 'Near North Side', 1.9, 12.9, 7.0, 2.5, 22.6, 88669, 1),
 (9, 'Edison Park', 1.1, 3.3, 6.5, 7.4, 35.3, 40959, 8),
 (10, 'Norwood Park', 2.0, 5.4, 9.0, 11.5, 39.5, 32875, 21)]

In [15]:
%sql SELECT * FROM CRIME_DATA LIMIT 10

 * sqlite:///Course6.db
Done.

[(3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', 890, 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, 6, 1155838, 1873050, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '2004-06-26', '009XX N CENTRAL PARK AVE', 820, 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, 6, 1152206, 1906127, 2004, 41.89827996, -87.71640551, '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '2011-04-04', '043XX S WABASH AVE', 820, 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, 6, 1177436, 1876313, 2011, 41.81593313, -87.62464213, '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '2010-12-30', '083XX S KINGSTON AVE', 840, 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, 6, 1194622, 1850125, 2010, 41.74366532, -87.56246276, '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', '2016-02-02', '033XX W 66TH ST', 820, 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, 6, 1155240, 1860661, 2016, 41.7734553, -87.70648047, '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', '2010-09-29', '006XX W CHICAGO AVE', 810, 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'FALSE', 'FALSE', 1323, 12, 27, 24, 6, 1171668, 1905607, 2010, 41.89644677, -87.64493868, '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', '2016-11-30', '050XX N KEDZIE AVE', 810, 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 1713, 17, 33, 14, 6, 1154133, 1933314, 2016, 41.97284491, -87.70860008, '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', '2005-12-16', '005XX E PERSHING RD', 860, 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 213, 2, 3, 38, 6, 1180448, 1879234, 2005, 41.82387989, -87.61350386, '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', '2005-01-28', '100XX S WASHTENAW AVE', 810, 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 2211, 22, 19, 72, 6, 1160129, 1838040, 2005, 41.71128051, -87.6891791, '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', '2004-05-13', '033XX W BELMONT AVE', 820, 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 1733, 17, 35, 21, 6, 1153590, 1921084, 2004, 41.93929582, -87.71092344, '(41.939295821, -87.710923442)')]

In [ ]:
%sql SELECT * FROM CHICAGO_Public_Schools LIMIT 10

 * sqlite:///Course6.db
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Strong', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', '69.7', '64.4', '0.2', '0.9', 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54, 'Strong', '66', 'Strong', 74, 'Very Strong', 84, 'Strong', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', '16.8', '16.5', '0.7', '1.4', 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, -87.55673627, 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61, 'NDA', 'NDA', 'Average', 50, 'Weak', 36, 'NDA', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', 2.3, '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', '18.3', '15.5', '-0.9', '-1', 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', 1148427.165, 1851012.215, 41.74711093, -87.73170248, 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)'),
 (609993, 'Agustin Lara Elementary Academy', 'ES', '4619 S Wolcott Ave', 'Chicago', 'IL', 60609, '(773) 535-4389', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 56, 'Average', '44', 'Average', 45, 'Weak', 37, 'Strong', '65', 'Average', '48', 'Average', '53', 'Strong', '58', '95.50%', 10.4, '95.80%', '100.00%', '76.9', 'NDA', '26', '24.7', '61.8', '49.7', '39.2', '27.2', '69.7', '60.6', '9.1', '18.2', '11.1', '9.6', '0.9', '2.4', 'Green', 'Green', '42.9', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 42, 'NDA', 1164504.29, 1873959.199, 41.8097569, -87.6721446, 61, 'NEW CITY', 20, 9, '(41.8097569, -87.6721446)'),
 (610513, 'Air Force Academy High School', 'HS', '3630 S Wells St', 'Chicago', 'IL', 60609, '(773) 535-1590', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610513.pdf', 'Southwest Side High School Network', 'SOUTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'Yes', 'Average', 49, 'Strong', '60', 'Strong', 60, 'Average', 55, 'Average', '45', 'Average', '54', 'Average', '53', 'Average', '49', '93.30%', 15.6, '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.6', '14.8', 'NDA', '16', '1.4', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 302, 40, '91.8', 1175177.622, 1880745.126, 41.82814609, -87.63279369, 34, 'ARMOUR SQUARE', 11, 9, '(41.82814609, -87.63279369)'),
 (610212, 'Albany Park Multicultural Academy', 'MS', '4929 N Sawyer Ave', 'Chicago', 'IL', 60625, '(773) 534-5108', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610212.pdf', "O'Hare Elementary Network", 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'Yes', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Strong', 66, 'Weak', '37', 'Strong', 66, 'Strong', 71, 'Average', '43', 'Average', '50', 'Weak', '46', 'Average', '51', '97.00%', 2.3, '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', '60.7', '39.8', '53.7', '59.8', '17.5', '20.8', '34.5', '15.6', '0.2', '0.3', 'Yellow', 'Yellow', '29.2', '50', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 266, 31, 'NDA', 1153858.196, 1932691.891, 41.9711433, -87.70962725, 14, 'ALBANY PARK', 39, 17, '(41.9711433, -87.70962725)'),
 (609720, 'Albert G Lane Technical High School', 'HS', '2501 W Addison St', 'Chicago', 'IL', 60618, '(773) 534-5400', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609720.pdf', 'North-Northwest Side High School Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'Yes', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Very Strong', 88, 'NDA', 'NDA', 'Strong', 62, 'Average', 52, 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', '96.30%', 2.1, '96.20%', '99.40%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '19.1', '19.5', '19.9', '20.1', '1', '23.4', '3.5', '67.9', '92.2', '79.8', 4368, 35, '90.7', 1158975.392, 1923791.705, 41.94661693, -87.69105603, 5, 'NORTH CENTER', 47, 19, '(41.94661693, -87.69105603)'),
 (610342, 'Albert R Sabin Elementary Magnet School', 'ES', '2216 W Hirsch St', 'Chicago', 'IL', 60622, '(773) 534-4491', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610342.pdf', 'Fulton Elementary Network', 'WEST SIDE COLLABORATIVE', 'No', 'Standard', 'Probation', 'Level 3', 'No', 'Strong', 67, 'NDA', 'NDA', 'Weak', 30, 'Very Weak', 18, 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', '94.70%', 28.1, '95.00%', '100.00%', '56.3', 'NDA', '33.5', '33.5', '49.5', '49.5', '27.4', '39.3', '35.5', '44.4', '25', '23.4', '18', '12.8', '-1.8', '0.1', 'Red', 'Yellow', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 620, 35, 'NDA', 1161265.299, 1909314.592, 41.90684338, -87.68304259, 24, 'WEST TOWN', 1, 14, '(41.90684338, -87.68304259)'),
 (610524, 'Alcott High School for the Humanities', 'HS', '2957 N Hoyne Ave', 'Chicago', 'IL', 60618, '(773) 534-5979', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610524.pdf', 'North-Northwest Side High School Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'No', 'Strong', 70, 'NDA', 'NDA', 'Strong', 67, 'Average', 51, 'NDA', 'NDA', 'NDA', 'NDA', 'Strong', '57', 'Weak', '43', '92.70%', 7.1, '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.7', '13.7', 'NDA', '16', '1.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 232, 33, '87.6', 1161870.556, 1919857.44, 41.93576106, -87.68052441, 5, 'NORTH CENTER', 1, 19, '(41.93576106, -87.68052441)'),
 (610209, 'Alessandro Volta Elementary School', 'ES', '4950 N Avers Ave', 'Chicago', 'IL', 60625, '(773) 534-5080', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610209.pdf', "O'Hare Elementary Network", 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 2', 'No', 'Average', 43, 'Strong', '61', 'Weak', 28, 'Weak', 37, 'Strong', '62', 'Average', '56', 'Average', '51', 'Average', '53', '96.40%', 22.5, '95.90%', '100.00%', '63.9', '43.2', '51.3', '32.9', '50.7', '70', '52.5', '31.3', '59.8', '57.6', '16.5', '24.7', '19.9', '14.2', '0.3', '-0.4', 'Yellow', 'Yellow', '31.6', '65.2', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1023, 31, 'NDA', 1149774.095, 1932831.151, 41.97160605, -87.72464139, 14, 'ALBANY PARK', 39, 17, '(41.97160605, -87.72464139)')]

In [16]:
#List community areas with per capita income less than 11000.
%sql Select Community_Area_Name from Census_Data where Per_Capita_Income<11000

 * sqlite:///Course6.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [20]:
#List all case numbers for crimes involving minors?
%sql SELECT * FROM CRIME_DATA Where lower(Description) like '%minor%'

 * sqlite:///Course6.db
Done.

[(3987219, 'HL266884', '2005-03-31', '024XX N CLARK ST', 2210, 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR', 'CONVENIENCE STORE', 'TRUE', 'FALSE', 2333, 19, 43, 7, 22, 1172680, 1916483, 2005, 41.92626872, -87.64089934, '(41.926268719, -87.640899336)'),
 (3266814, 'HK238408', '2004-03-13', '093XX S STONY ISLAND AVE', 2230, 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR', 'ALLEY', 'TRUE', 'FALSE', 413, 4, 8, 48, 22, 1188539, 1843379, 2004, 41.72530099, -87.58496589, '(41.72530099, -87.584965887)')]

In [25]:
#List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)
%sql SELECT * FROM CRIME_DATA Where Primary_Type = 'KIDNAPPING' and Description like '%child%'

 * sqlite:///Course6.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', 1792, 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, 20, 1143050, 1897546, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

In [27]:
#What kind of crimes were recorded at schools?
%sql SELECT distinct(Primary_Type) FROM CRIME_DATA where  Location_Description like '%school%'

 * sqlite:///Course6.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

In [28]:
#List the average safety score for all types of schools.
%sql SELECT AVG(SAFETY_SCORE) AS AVERAGE \
FROM PUBLIC_SCHOOLS

 * sqlite:///Course6.db
Done.

[(49.50487329434698,)]

In [32]:
#List 5 community areas with highest % of households below poverty line.
%sql Select community_Area_Name,Percent_households_below_poverty  \
from Census_Data \
order by Percent_households_below_poverty desc LIMIT 5

 * sqlite:///Course6.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

In [35]:
#Which community area(number) is most crime prone?

%sql Select C.Community_area_Number,Community_area_name, COUNT(CC.COMMUNITY_AREA_NUMBER) AS FREQUENCY  \
from Census_Data C,crime_data CC where C.Community_Area_number=CC.Community_area_Number\
Group BY CC.COMMUNITY_AREA_NUMBER\
ORDER BY COUNT(CC.COMMUNITY_AREA_NUMBER) DESC\
LIMIT 1

 * sqlite:///Course6.db
Done.

[(25, 'Austin', 43)]

In [36]:
#Use a sub-query to find the name of the community area with highest hardship index.
%sql SELECT COMMUNITY_AREA_NAME\
FROM  CENSUS_DATA\
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * sqlite:///Course6.db
Done.

[('Riverdale',)]

In [38]:
#Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?
%sql SELECT community_area_name\
FROM CENSUS_DATA \
WHERE COMMUNITY_AREA_NUMBER = (  SELECT CCD.COMMUNITY_AREA_NUMBER \
    FROM CRIME_DATA AS CCD \
    GROUP BY CCD.COMMUNITY_AREA_NUMBER\
    ORDER BY COUNT(CCD.COMMUNITY_AREA_NUMBER) DESC\
    LIMIT 1)\
LIMIT 1;

 * sqlite:///Course6.db
Done.

[('Austin',)]